[submodule "Libraries/MathEx"]
	path = Libraries/MathEx
	url = git@github.com:igadmg/MathEx.git
[submodule "Libraries/SystemEx"]
	path = Libraries/SystemEx
	url = git@github.com:igadmg/SystemEx.git
[submodule "Libraries/UnityDissolve"]
	path = Libraries/UnityDissolve
	url = git@github.com:igadmg/UnityDissolve.git
